@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import './base/base';
@import './components/home';
@import './components/instructions';
@import './components/play';
@import './components/summary.css';
